.footer {
    background-color: #222222;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}


.footer-bottom {
    margin-top: 20px;
    font-size: 15px;
    color: #aaa;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav {
        justify-content: center;
        margin: 15px 0;
    }
}